body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2, h3, p {
  text-align: center;
}

.card {
  background: #151515;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  font-weight: bold;
  background: gold;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
}
