body {
  margin: 0;
  background: #0b0b0b;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #111;
}

.wallet {
  background: magenta;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
}

.content {
  padding: 25px;
  text-align: center;
}

.primary-btn {
  background: magenta;
  border: none;
  color: white;
  padding: 14px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #111;
}

.bottom-nav button {
  flex: 1;
  background: none;
  border: none;
  color: white;
  padding: 14px;
}
