body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.magenta {
  background: linear-gradient(90deg, magenta, purple);
  padding: 6px 12px;
  border-radius: 20px;
}

main {
  padding: 30px 15px;
}

button {
  border: none;
  border-radius: 12px;
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
}

.main-btn {
  background: magenta;
  color: white;
}

.watch-btn {
  background: #00ffc8;
  color: black;
}

.back-btn {
  background: #444;
  color: white;
}

.ad-box {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
}
